html{
    margin: 0;
    padding: 0;
} /*++++++++REMOVE++++++++++++++++*/
body {
    background: #fafafa;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    width: 100%;
}
header {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("../img/banner-bg-min.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
section {
    padding: 60px 0;
}
blockquote {
    border-width: 0;
    font-size: 0.8em;
    position: relative;
}
blockquote::before {
    color: #FFF;
    content: "\201C";
    display: block;
    font-size: 4.5em;
    left: -25px;
    position: absolute;
    top: -30px;
    transform: rotate(5deg);
}
blockquote img {
    border-radius: 50%;
    display: block;
    float: left;
    height: 75px;
    margin: 0 10px 0 20px;
    width: 75px;
}
cite {
    display: block;
    font-size: 1em;
    margin-top: 30px;
}
#about {
    background: #3D66D0;
    color: #fafafa;
}
footer {
    background: #081128;
    color: #fafafa;
    font-size: 0.9rem;
    padding: 0 0 60px 0;
}












