/*===============BASE=DEFAULTS/LAYOUT==========================*/
nav {
    position: fixed;
    top: 0;
}
.navbar {
    background: transparent;
    color: #fafafa;
    height: 60px;
    transition: all 0.2s;
    width: 100%;
    z-index: 999;
}
.navbar.solid {
    background: #fafafa;
    color: #2A57CC;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.navbar-inner {
    margin: 0 auto;
    max-width: 1140px; /*fit with simple-grid max-width*/
    padding: 0;
    width: 95%;
}
.navbar-logo { float: left;}

.navbar-right { float: right;}

.nav-group {
    background: #fff;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 70px 0 0;
    position: absolute;
    right: -220px;
    text-transform: capitalize;
    width: 200px;
    text-align: center;
}
.nav-item { display: block;}
/*===============MODULES=========================*/
.potp-logo {
    box-shadow: 0 0 8px #303030;
    margin: 0;
    transition: all 0.3s;
    width: 100px;
}
.potp-logo[src*='logo-white']{
    box-shadow: none;
    margin: 5px;
    width: 120px;
}
.potp-logo:hover { transform: scale(1.2) translateY(5px);}
/*===============LINKS===========================*/
.nav-item a:link,
.nav-item a:visited {
    color: inherit;
    display: block;
    padding: 16px 9px;
    text-decoration: none;
    transition: all 0.2s;
}
.nav-item a:hover,
.nav-item a:active,
.navbar-solid .nav-item a:hover,
.navbar-solid .nav-item a:active {
    color: #fff;
    background: #2A57CC;
}

/*===============MOBILE BTN======================*/
.nav-btn {
    background: transparent;
    border: 2px solid #fafafa;
    border-radius: 7px;
    color: #fafafa;
    display: block;
    font-size: 32px;
    padding: 4px 10px;
    position: absolute;
    right: 40px;
    top: 15px;
    transition: all 0.3s;
    z-index: 999;
}
.nav-btn:focus { outline: none;}

.nav-btn:hover { transform: scale(1.03);}

.navbar.solid .nav-btn {
    border: 2px solid #2A57CC;
    color: #2A57CC;
    font-size: 26px;
    right: 40px;
    top: 8px;
}
/*===============QUERIES=========================*/
@media screen and (min-width: 580px) {
    .navbar-logo img[src*="potp-logo"]{ width: 100px;}
    .nav-btn {
        font-size: 32px;
        top: 7px
    }
}
@media screen and (min-width: 960px) {
    .nav-inner { width: 90%;}
    .navbar-logo img[src*="logo-white"] {
        margin: 5px 0;
        width: 150px;
    }
    .navbar-logo img[src*="potp-logo"] { width: 100px;}
    .navbar-logo img[src*="potp-logo"]:hover { width: 110px;}
    .nav-btn { display: none;}
    
    .nav-group {
        position: inherit;
        background: transparent;
        height: auto;
        padding: 0;
        width: inherit;
    }
    .nav-item {
        float: left;
        margin: 1em 3px;
        width: auto;
    }
    .navbar.solid .nav-item{ margin: 0 5px;}
}














