/*===============BASE=DEFAULTS/LAYOUT==========================*/
.navbar {
    background: transparent;
    color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    transition: all 0.2s;
    width: 100%;
    z-index: 999;
}
.navbar-solid {
    background: #fafafa;
    color: #2A57CC;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.navbar-inner {
    margin: 0 auto;
    max-width: 1140px; /*fit with simple-grid max-width*/
    padding: 0;
    width: 95%;
}
.navbar-logo {
    float: left;
}
.navbar-right {
    float: right;
}
.nav-group {
    list-style: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.nav-item {
    display: inline-block;
}
/*===============MODULES=========================*/
.potp-logo {
    box-shadow: 0 0 8px #303030;
    margin: 0;
    transition: all 0.3s;
    width: 100px;
}
.potp-logo[src*='logo-white']{
    box-shadow: none;
    margin: 5px;
    width: 120px;
}
.potp-logo:hover {
    transform: scale(1.2) translateY(5px);
}
/*===============LINKS===========================*/
.nav-item a:link,
.nav-item a:visited {
    color: inherit;
    display: block;
    padding: 18px 9px;
    text-decoration: none;
    transition: all 0.2s;
}
.nav-item a:hover,
.nav-item a:active,
.navbar-solid .nav-item a:hover,
.navbar-solid .nav-item a:active {
    color: #fff;
    background: #2A57CC;
}

/*===============MOBILE BTN======================*/
.nav-btn {
    display: none;
}
/*===============QUERIES=========================*/