/*--------nav button-----------------*/
/*-----------nav list ---------------*/
/*------------ QUERIES--------------*/
@media screen and (min-width: 580px) {
    #potp-main-nav.solid { height: 60px;}
    .navbar-logo img[src*="potp-logo"]{ width: 100px;}
    nav.solid button {
        font-size: 32px;
        top: 7px
    }
    .nav-list li { margin: 1em 0}
}
@media screen and (min-width: 960px) {
    .nav-inner {
        max-width: 1400px;
        width: 90%;
    }
    .navbar-logo img[src*="logo-white"] {
        margin: 5px 0;
        width: 150px;
    }
    .navbar-logo img[src*="potp-logo"] { width: 100px;}
    .navbar-logo img[src*="potp-logo"]:hover { width: 110px;}
    nav.solid button,
    button[class="toggle-slide"] {
        -webkit-animation-name: none;
        animation-name: none;
        display: none;
    } 
    .nav-list {
        position: inherit;
        background: transparent;
        height: auto;
        padding: 0;
        width: inherit;
    }
        .nav-list li {
        float: left;
        margin: 1em 3px;
        width: auto;
    }
    nav.solid .nav-list li{ margin: 0 5px;}
}